__pycache__/
__pycache__/basicTools.cpython-37.pyc
__pycache__/bone.cpython-37.pyc
__pycache__/ctrl.cpython-37.pyc
__pycache__/ensemble.cpython-37.pyc
__pycache__/navigate.cpython-37.pyc
__pycache__/nurbRigger.cpython-37.pyc
__pycache__/nurbShapes.cpython-37.pyc
__pycache__/nurbShapes.cpython-310.pyc
__pycache__/pallete.cpython-37.pyc
__pycache__/placeholder.cpython-37.pyc
